extends base

block vars
  - var title = "Home"

block body
  if technology
    h1 Showing videos for #{technology}
    
  h2 New videos
  table.table
    thead
      tr
        th Title
        th Channel
    tbody
      each video in newVideos
        tr
          td 
            a(href="videos/#{video.videoId}") #{video.title}
          td #{video.channelName}

  h2 Popular videos
  table.table
    thead
      tr
        th Title
        th Channel
    tbody
      each video in popularVideos
        tr
          td 
            a(href="videos/#{video.videoId}") #{video.title}
          td #{video.channelName}
