extends base

block vars
  - var title = "Submit"

block scripts
  script(src='/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
  script(src='submit.js')
block styles
  link(rel='stylesheet', href='/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')

block body
  h2 Submit video
  
  if errors
    .alert.alert-danger
      button.close(data-dismiss="alert")
        span &times;
      ul
        for error in errors
          li!= error.msg

  if message
    .alert.alert-success
      button.close(data-dismiss="alert")
        span &times;
      ul 
        li!= message


  form(method="post")
    .form-group
      label Video link
      input.form-control#url(
        type="text", 
        name="url", 
        pattern="^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be)\/.+$", 
        required)
    .form-group
      label Video title
      input.form-control#title(type="text", name="title", readonly, required)
    .form-group
      label Video description
      input.form-control#description(type="text", name="description", readonly, required)
    .form-group
      label Channel name
      input.form-control#channelName(type="text", name="channelName", readonly, required)
    .form-group
      label Technologies (comma seperated, max of two)
      input.form-control#technologies(type="text", name="technologies", data-role="tagsinput")
    button.btn.btn-default(type="Submit") Submit video