extends base

block vars
  - var title = "Test"

block scripts
  script(src='/vendor/bootstrap-table/dist/bootstrap-table.min.js')
  script(src='/table.js')

block styles
  link(rel='stylesheet', href='/vendor/bootstrap-table/dist/bootstrap-table.min.css')

block body
  
  table(
    data-toggle="table", 
    data-url="/data", 
    data-pagination="true", 
    data-side-pagination="server", 
    data-height="300",
    data-page-list="[]")
    thead
      tr
        th(data-field="title", data-formatter="titleFormatter")
        th(data-field="channelName" data-formatter="channelNameFormatter")
        th(data-field="technologies" data-formatter="technologiesFormatter")
        th(data-field="duration" data-formatter="durationFormatter")
