block vars
doctype html
html
  head
    title #{title}

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')

    link(rel='stylesheet', href='/components/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')
    block styles
  body

    noscript
      .alert.alert-danger 
        p Community Casts makes <strong>heavy</strong> use of JavaScript. You will not really be able to use the website unless you enable it, sorry. I recomend that you check out this <a href="http://enable-javascript.com/">tutorial</a> to learn why and how to enable JavaScript.

    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Community Casts <small>Beta</small>
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
            if tags.length > 0
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Learn
                  span.caret
                ul.dropdown-menu
                    each tag in tags
                      li
                        a(href='/screencasts/tagged/#{encodeURIComponent(tag.tagName)}')
                          | #{tag.tagName}
                          span.label.label-default.tag-count(title="The number of " + tag.tagName + " screencasts")=tag.count
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/screencasts/submit')
                i.fa.fa-plus
                | Submit
    .container
      block body

    footer.footer
      div.container
        p.pull-left Made in the United Kingdom by <a href="https://github.com/alexbooker">Booker</a>.
        iframe(src="https://ghbtns.com/github-btn.html?user=alexbooker&repo=community-casts&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="30px").pull-right

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootswatch-dist/js/bootstrap.min.js')
    script(src='/components/js-cookie/src/js.cookie.js')
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-63628130-1');ga('send','pageview');
    block scripts