extends base

block vars
  - var title = "Home"

block styles
  link(rel='stylesheet', href='/components/bootstrap-table/dist/bootstrap-table.min.css')

block scripts
  script(src='/components/bootstrap-table/dist/bootstrap-table.min.js')
  script(src='/js/table.js')
  script(src='/js/jumbotron.js')

block body

  .jumbotron
    button.close
      span &times;
    h1 Community Casts
    p Community Casts is the place to find new programming screencasts on <a href="youtube.com">YouTube</a>. Have a gander and learn something new or <a href="/screencasts/submit">submit</a> your own screencast.

  h2 Popular <small>all time</small>
  table(
    data-toggle="table",
    data-url="/api/screencasts?sort=popular",
    data-pagination="true",
    data-side-pagination="server",
    data-show-header="false",
    data-page-list="[]"
    data-height="450")
    thead
      tr
        th(data-field="title", data-formatter="titleFormatter")
        th(data-field="channelName" data-formatter="channelNameFormatter")
        th(data-field="technologies" data-formatter="technologiesFormatter")
        th(data-field="duration" data-formatter="durationFormatter")

  h2 New
  table(
    data-toggle="table",
    data-url="/api/screencasts",
    data-pagination="true",
    data-side-pagination="server",
    data-show-header="false",
    data-page-list="[]",
    data-height="450")
    thead
      tr
        th(data-field="title", data-formatter="titleFormatter")
        th(data-field="channelName" data-formatter="channelNameFormatter")
        th(data-field="technologies" data-formatter="technologiesFormatter")
        th(data-field="duration" data-formatter="durationFormatter")
