extends base

block vars
  - var title = "Submit"

block styles
  link(rel='stylesheet', href='/css/submit.css')
    
block scripts
  script(src='/components/typeahead.js/dist/typeahead.bundle.min.js')
  script(src='/components/jquery-validation/dist/jquery.validate.min.js')
  script(src='/components/jquery-validation/dist/additional-methods.min.js')
  script(src='/js/submit.js')

block body
  h2 Submit video
  
  if messages.success
    .alert.alert-success
      button.close(data-dismiss="alert")
        span &times;
      p=messages.success
  
  if errors
    .alert.alert-danger
      button.close(data-dismiss="alert")
        span &times;
      ul
        for error in errors
          li!= error

  form#submitForm(method="post", novalidate)
    .form-group
      label Video link
      input.form-control#url(
        type="text", 
        name="url")
    .form-group
      label Video title
      input.form-control#title(type="text", readonly, tabindex="-1")
    .form-group
      label Video description
      textarea.form-control#description(type="text", readonly, tabindex="-1")
    .form-group
      label Channel name
      input.form-control#channelName(type="text", readonly, tabindex="-1")
    .form-group
      label Technologies (comma separated, max of two)
      input.form-control#technologies(
        type="text", 
        name="technologies")
      ul#tags
    button.btn.btn-default(type="Submit") Submit video